@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline:2px solid red; */
    /* background: #2d2a2a; */
    /* background: #f7f5f5; */
}
::-webkit-scrollbar{
    display: none;
}

body{
    background: #3c3c3c;
}